@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* Marker ကို တုန်မနေစေဘဲ ချောမွေ့စွာ ရွေ့လျားစေရန် */
.leaflet-marker-icon {
  transition: transform 0.5s linear !important;
}

/* မြေပုံ Container ကို Screen အပြည့်ဖြစ်စေရန် */
.leaflet-container {
    background-color: #000 !important;
    width: 100vw !important;
    height: 100vh !important;
}

/* Image Overlay ကို screen ထဲမှာ သေးမနေစေဘဲ pixel ပြတ်ပြတ်သားသားနဲ့ ပြည့်နေစေရန် */
.leaflet-image-layer {
    image-rendering: pixelated; /* Pixel art ပုံဆိုရင် ပိုကြည်စေပါတယ် */
    object-fit: cover; /* ပုံကို screen အပြည့် ဆွဲဖြန့်ပေးပါတယ် */
}